.creepster-regular {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size:250%;
  }

h1{
    color: #ffffff;
    text-align: center;
    font-size: xx-large;
    animation: parpadeo 2s infinite;
}

a{
    text-decoration: none;
}

h4{
    color: #ffffff;
    text-align: center;
    font-size: xx-large;
}

@keyframes parpadeo {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

p{
    border-radius: 6px;
    border-width: 3px;
    border: #ffffff, solid; 
    padding: 10px;
    font-size: 24px;
    background-color: #25213fc5;
    color: rgb(236, 232, 227);
    width: 70%;
    text-align: center;
    margin:auto;
    padding: auto;
}

img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

.boton {
    color: #ffffff;
    background-color: #25213f;
    font-size: xx-large;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.boton:hover {
    color:#ffffff;
    background-color: #3d3666;
}

body{
    display:flex;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.hidden {
    display: none;
}

#videoContainer {
   margin-top: 20px;
    /* width: 56.25vh;  
    height: 100vh;  
    background-color: black; 
    display: flex;
    justify-content: center;
    align-items: center;*/
}

#imageContainer {
    margin-top: 20px;
}

/*tamaño vídeo*/
video {
    width: 100%;  /* Ajustar el video al ancho del contenedor */
    height: 100%; /* Ajustar el video a la altura del contenedor */
    object-fit: cover;  /* Asegurar que el video cubra el contenedor manteniendo la proporción */
}

/*botón volver a inicio*/

#closeImageButton {
    color: #ffffff;
    background-color: #25213f;
    font-size: xx-large;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#closeImageButton:hover {
    color:#ffffff;
    background-color: #3d3666;
}
